:root {
  --White:#FAFAFA;
  --Black500:#272221;
  --Black300:#403937;
  --Black200:#574F4D;
  --Grey:#8D8686;
  --PurpeLight:#EBE5F9;
  --PurpeDark:#4B2995;
  --YellowLight:#F1E9C9;
  --OrangeLight:#F3F2F2;
  --Orange:#C47F17;
}
